header
    nav.container
        div.navbar.navbar-inverse
            div.navbar-brand Express MVC
            ul.navbar-nav.nav
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li
                    a(href="/books") Books
                li
                    a(href="/contact") Contact